body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: hidden; /* Optional: Prevents scrolling */
}

.container {
    position: relative;
    width: 100%;
    height: 100%;
    background-image: url('resources/Neuro.jpg');
    background-size: contain; /* Ensures the image fits within the container without being cut */
    background-repeat: no-repeat;
    background-position: center;
}

.clickable-area {
    position: absolute;
    border: 2px transparent;
    cursor: pointer;
}

.area1 {
    top: 35%; /* Adjust these values to position the first rectangle */
    left: 42%; /* Adjust these values to position the first rectangle */
    width: 15%;
    height: 10%;
}

.area2 {
    top: 0%; /* Adjust these values to position the second rectangle */
    left: 58%; /* Adjust these values to position the second rectangle */
    width: 35%;
    height: 51%;
}

.area3 {
    top: 51%; /* Adjust these values to position the second rectangle */
    left: 58%; /* Adjust these values to position the second rectangle */
    width: 35%;
    height: 49%;
}

.area4 {
    top: 15%; /* Adjust these values to position the second rectangle */
    left: 20%; /* Adjust these values to position the second rectangle */
    width: 20%;
    height: 20%;
}

.area5 {
    top: 51%; /* Adjust these values to position the second rectangle */
    left: 27%; /* Adjust these values to position the second rectangle */
    width: 32%;
    height: 49%;
}

.area6 {
    top: 39%; /* Adjust these values to position the second rectangle */
    left: 5%; /* Adjust these values to position the second rectangle */
    width: 20%;
    height: 70%;
}



.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 80%;
    padding: 1%;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    overflow: hidden; /* Prevents scrolling */
    box-sizing: border-box; /* Includes padding in the element's total width and height */
}

.popup .close {
    display: block;
    text-align: right;
    font-size: 20px;
    margin-top: -10px;
    margin-right: -10px;
    cursor: pointer;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 500;
}

#popup-content {
    width: 100%;
    height: calc(100% - 40px); /* Adjust based on the height of the h2 and close button */
    display: flex;
    align-items: center;
    justify-content: center;
}

#popup-content img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain; /* Ensures the image fits within the bounds of the popup */
}
